<div class="container">
	<div class="jumbotron">
		<h1> Stronger</h1>
		<p>Log yr Gainz </p>
	</div>
</div>

<div class="container">
	<a href=workouts/new class="btn btn-primary" role="button">New Workout</a>
	<a href=# class="btn btn-primary" role="button">Analysis</a>
	<a href=/exercises class="btn btn-primary" role="button">Exercises</a>
</div>